body {
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    width: 100%;
    zoom: 70%;

    }

    .chen {
        background-image: url("../ship.jpeg");
        background-position-x: '50%' ;
        height: '1000px';
    
    }


  